* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#navigationBar {
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
}

.nav-item {
    margin-right: 16px;
}

.nav-item a {
    text-transform: uppercase;
}

.card-body h5 {
    font-size: 24px;
    color: white;
}

.card {
    border: 1px solid white;
    border-radius: 10px;
}

.primary-post .post {
    background: #FFFFFF;
box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25);
border-radius: 10px;
height: 300px;
}

.post-container {
    display: flex;
   
}

.text-justified{
    text-align: justify;
}

.post-link:hover {
    color: #C21940;
}

.post-link {
    color: black;
}

.left-section   {
    width: 80%;
    margin-right: 32px;
}

.right-section {
    width: 20%;
}

.right-section ul li a{
    text-decoration: none;
    color: #C21940;
}

.small-post-title {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.small-post-title:hover {
    color: #C21940;
}


.recent-posts .full-post {
    background: #FFFFFF;
box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25);
border-radius: 10px;
padding: 32px;
margin-bottom: 32px;
}

.recent-posts .sub-post {
    background: #FFFFFF;
box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25);
border-radius: 10px;
padding: 32px;
margin-bottom: 32px;
}

.recent-posts .categories
{
    background: #FFFFFF;
box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

.category-text {
    color: #C21940;
}

.footer-bg {
    background: #C21940;
    height: 150px;
}

.footer .footer-text {
    position: relative;
    top: 10%;
    color: white;
}

.footer .footer-text a {
    text-decoration: none;
    color: white;
}

.footer .footer-text a:hover {
    color: black;
}

@media screen and (max-width: 768px){
    .right-section {
        display: none;
    }
    .left-section {
        width: 100%;
        margin-right: 0px;
    }
}

@media screen and (max-width: 500px){
    * {
        font-size: 14px; 
    }
}

@media screen and (min-width: 1200px)
{
    .post-desc {
        margin-left: 16px;
    }
}

/* example */
.space {
    height: 72px;
    background: white;
}